<mat-card class="container-list">
  <mat-card-content>
    <h3>Veículos</h3>
    <div class="list-header">
      <span><small>placa</small></span>
      <span><small>modelo</small></span>
      <span><small>marca</small></span>
      <span><small>chassis</small></span>
      <span><small>renavam</small></span>
      <span><small>ano</small></span>
    </div>
    <mat-card class="vehicles-list" *ngFor="let vehicle of vehicles">
      <mat-card-content>
        <span>{{ vehicle.plate }}</span>
        <span>{{ vehicle.model }}</span>
        <span>{{ vehicle.brand }}</span>
        <span>{{ vehicle.chassis }}</span>
        <span>{{ vehicle.renavam }}</span>
        <span>{{ vehicle.year }}</span>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
